.wrapper-loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 16px solid #868282;
  border-radius: 50%;
  border-top: 16px solid #0a0a0a;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: flex;
  content: '';
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
